# # TCAM value SRAMs
# u_tcam_ctrl_pipe.VALUE_MEM[0].value_mem  100 100 N
# u_tcam_ctrl_pipe.VALUE_MEM[1].value_mem  500 100 N
# u_tcam_ctrl_pipe.VALUE_MEM[2].value_mem  900 100 N
# u_tcam_ctrl_pipe.VALUE_MEM[3].value_mem 1300 100 N

# # TCAM mask SRAMs
# u_tcam_ctrl_pipe.MASK_MEM[0].mask_mem    100 400 N
# u_tcam_ctrl_pipe.MASK_MEM[1].mask_mem    500 400 N
# u_tcam_ctrl_pipe.MASK_MEM[2].mask_mem    900 400 N
# u_tcam_ctrl_pipe.MASK_MEM[3].mask_mem   1300 400 N

# # Action SRAMs
# u_action_pipe.ACTION_MEM[0].action_mem   300 800 N
# u_action_pipe.ACTION_MEM[1].action_mem   900 800 N




# TCAM VALUE SRAM
u_tcam_ctrl_pipe.value_mem   100   100   N

# TCAM MASK SRAM (right of value)
u_tcam_ctrl_pipe.mask_mem    700   100   N

# ACTION SRAM (below, centered)
u_action_pipe.action_mem     400   600   N